:root {
    font-size: 1rem;
    --heading-font-size: clamp(2.648rem, 6vw, 4.241rem);
    --subheading-font-size: 1.75rem;
}

.our-story {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    padding: 1rem;
    min-height: 63rem;
    background: linear-gradient(to bottom, var(--color-gray-500), var(--color-gray-600));
}

.text-content{
    text-align: left;
    margin: 3rem 2rem;
    padding: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    border-radius: 0.1rem;
    background: var(--color-gray-525);
}

.section-heading{
    font-size: var(--heading-font-size);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 2rem 0;
    text-align: center;
}

.our-story-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.our-story-content {
    opacity: 0;
    transform: translateY(10rem);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.our-story-content.visible {
    opacity: 1;
    transform: translateY(0);
}


.text-content h2 {
    font-size: var(--heading-font-size);
    text-transform: uppercase;
    
}

.text-content h1 {
    font-size: var(--subheading-font-size);
    font-weight: bold;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.text-content p {
    margin-bottom: 1rem;
    font-size: 1rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.text-content ul {
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.text-content ul li {
    margin-bottom: 0.5rem;
}

.image-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content img {
    width: 60%;
    min-width: 35vh;
    height: auto;
    object-fit: cover;
    transition: all 0.5s ease;
    box-shadow: 0 0 1.1rem rgba(0, 0, 0, 0.4);
}

@media (min-width: 52rem) {
    .our-story {
        flex-direction: column;
    }
    .our-story-content {
        flex-direction: row;
    }

    .text-content {
        flex: 1;
        text-align: left;
    }

    .image-content {
        flex: 1;
    }

    .image-content img {
        min-width: 50vh;
    }
}


@media (min-width: 64rem) {
    :root {
        --heading-font-size: clamp(2.648rem, 6vw, 4.241rem);
        --subheading-font-size: 2rem;
    }

    .our-story {
        gap: 2rem;
        padding: 2rem;
    }

    .text-content p, .text-content ul li {
        font-size: 1.125rem;
    }
}