<section class="our-story" id="our-story">
    <div class="heading">
        <h2 class="section-heading">Про нас</h2>
    </div>
    <div class="our-story-content">
        <div class="image-gallery">
            <div class="top-row">
                <div class="gallery-item">
                    <img src="img/bmw.jpg" alt="Автомобіль після детейлінгу 1">
                </div>
                <div class="gallery-item">
                    <img src="img/IMG_6547.jpg" alt="Автомобіль після детейлінгу 2">
                </div>
            </div>
            <div class="bottom-row">
                <div class="gallery-item large">
                    <img src="img/IMG_7773.JPG">
                </div>
            </div>
        </div>
        <div class="text-content">
            <h1>Boys Toys — це місце, де автомобілі отримують друге дихання.</h1>
            <p>
                Преміальний догляд, новітні технології та екологічні матеріали гарантують ідеальний вигляд та надійний
                захист для вашого авто. Наш салон — це простір для тих, хто цінує красу та довговічність.
            </p>
            <p><strong>Boys Toys — ваш вибір,якщо авто для вас це не просто засіб пересування.</strong></p>
            <a href="#booking-section">
                <button class="btn about">
                  <span class="circle">
                    <i class="bx bx-right-arrow-alt icon"></i>
                  </span>
                  <span class="button-text">Записатись</span>
                </button>
              </a>
        </div>
    </div>
</section>