<section class="carousel-section">
    <div class="heading">
        <h2 class="section-heading">Наші роботи</h2>
    </div>
    <div class="owl-carousel owl-theme">
        <div class="item"><img src="img/carousel/IMG_7326.JPG" alt="Photo 1"></div>
        <div class="item"><img src="img/carousel/IMG_7771.JPG" alt="Photo 2"></div>
        <div class="item"><img src="img/carousel/IMG_7801.JPG" alt="Photo 4"></div>
        <div class="item"><img src="img/carousel/IMG_7776.JPG" alt="Photo 6"></div>
        <div class="item"><img src="img/carousel/IMG_7519.JPG" alt="Photo 7"></div>
        <div class="item"><img src="img/carousel/IMG_7780.JPG" alt="Photo 8"></div>
        <div class="item"><img src="img/carousel/IMG_7781.JPG" alt="Photo 9"></div>
        <div class="item"><img src="img/carousel/IMG_7782.JPG" alt="Photo 10"></div>
        <div class="item"><img src="img/carousel/IMG_7787.JPG" alt="Photo 11"></div>
        <div class="item"><img src="img/carousel/IMG_7788.JPG" alt="Photo 12"></div>
        <div class="item"><img src="img/carousel/IMG_7790.JPG" alt="Photo 13"></div>
        <div class="item"><img src="img/carousel/IMG_7401.JPG" alt="Photo 14"></div>
        <div class="item"><img src="img/carousel/IMG_7519.JPG" alt="Photo 15"></div>
        <div class="item"><img src="img/carousel/IMG_7796.JPG" alt="Photo 17"></div>
    </div>
</section>
