<header class="header" id="header">
   
    <nav class="navbar container">
         <a href="" class="brand">
            <img src="img/logo_white_small.png" alt="logo">
         </a>
       <div class="burger" id="burger">
          <span class="burger-line"></span>
          <span class="burger-line"></span>
          <span class="burger-line"></span>
       </div>
       <div class="menu" id="menu">
            <div class="menu-image">
                  <img src="img/logo_white_small.png" alt="logo">
            </div>
          <ul class="menu-inner">
             <li class="menu-item"><a href="#our-story" class="menu-link">Про нас</a></li>
             <li class="menu-item"><a href="#price-list" class="menu-link">Наші послуги</a></li>
             <li class="menu-item"><a href="#contact-info" class="menu-link">Контакти</a></li>
          </ul>
       </div>
       <a href="#booking-section" class="menu-block">Оформити замовлення</a>
    </nav>  
 </header>