<section class="section banner banner-section segment">
  <div class="container banner-column">
     <img class="banner-image" src="img/mercedes.png" alt="banner">
     <div class="banner-inner">
        <h1 class="heading-xl">Найкращий детейлінг салон у Львові</h1>
        <p class="paragraph">
          Догляд за вашим авто — це наша спеціальність. Створюємо ідеальний вигляд для кожного автомобіля!
        </p>
        <a href="#booking-section">
        <button class="btn">
          <span class="circle">
            <i class="bx bx-right-arrow-alt icon"></i>
          </span>
          <span class="button-text">Записатись</span>
        </button>
      </a>
     </div>
  </div>
</section>
<svg class="divider" viewBox="0 0 100 100" preserveAspectRatio="none">
  <polygon points="0,0 100,0 50,100" />
 </svg>

