<section class="our-story" id="our-story">
    <div class="heading">
        <h2 class="section-heading">Про нас</h2>
    </div>
    <div class="our-story-content">
        <div class="image-content">
            <img class="about-us-image" src="img/bmw.jpg" alt="Автомобіль після детейлінгу">
        </div>
        <div class="text-content">
            <h1>Boys Toys – це місце, де автомобілі отримують нове життя та ідеальний вигляд.</h1>
            <p>
                Ми спеціалізуємося на преміальному догляді за вашим авто, використовуючи сучасні технології, екологічно
                безпечні матеріали та найкращі стандарти якості. Наш салон у самому серці Львова – це простір, створений
                для справжніх шанувальників авто.
            </p>
            <p>
                У Boys Toys ваш автомобіль отримає не лише бездоганний вигляд, а й захист, який збереже його красу на
                довгі роки. Ми працюємо, щоб перевершити ваші очікування.
            </p>
            <p><strong>Boys Toys – ідеальний вибір для тих, хто любить свій автомобіль.</strong></p>
        </div>
    </div>
</section>