<div class=wrapper>
    <div class="triangle-divider-top">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M598.97 119.72L0 0 0 120 1200 120 1200 0 598.97 119.72z" class="shape-fill"></path>
        </svg>
    </div>
    <h2 class="price-heading contact-heading">Наші контакти</h2>
    <section class="contact-info-section" id="contact-info">
        <div class="info-container">
            <div class="schedule animated-block">
                <h3 class="column-title"><i class="fa-regular fa-clock contact-icon"></i>Графік роботи</h3>
                <div class="hours-list">
                    <div class="day-time">
                        <div class="day">Понеділок</div>
                        <div class="time">10:00 - 20:30</div>
                    </div>
                    <div class="day-time">
                        <div class="day">Вівторок</div>
                        <div class="time">10:00 - 20:30</div>
                    </div>
                    <div class="day-time">
                        <div class="day">Середа</div>
                        <div class="time">10:00 - 20:30</div>
                    </div>
                    <div class="day-time">
                        <div class="day">Четвер</div>
                        <div class="time">10:00 - 20:30</div>
                    </div>
                    <div class="day-time">
                        <div class="day">П'ятниця</div>
                        <div class="time">10:00 - 20:30</div>
                    </div>
                    <div class="day-time">
                        <div class="day">Субота</div>
                        <div class="time">10:00 - 20:30</div>
                    </div>
                    <div class="day-time">
                        <div class="day">Неділя</div>
                        <div class="time">11:00 - 20:30</div>
                    </div>
                </div>
            </div>
            <div class="contact-info animated-block">
                <h3 class="column-title"><i class="fas fa-phone-alt contact-icon"></i>Контактна інформація</h3>
                <div class="contact-details">
                    <div class="details-item">
                        <div class="detail-title"><i class="fas fa-phone"></i>Номер телефону</div>
                        <div class="detail-info">+38 097 781 5820</div>
                    </div>
                    <div class="details-item">
                        <div class="detail-title"><i class="fas fa-envelope"></i>Email</div>
                        <div class="detail-info">info@example.com</div>
                    </div>
                    <div class="details-item">
                        <div class="detail-title"><i class="fas fa-map-marker-alt"></i>Адреса</div>
                        <div class="detail-info">вул. Городоцька 224, Львів</div>
                    </div>
                    <!-- <p><i class="fas fa-phone"></i> Номер телефону: +38 097 781 5820</p>
                    <p><i class="fas fa-envelope"></i> Email: info@example.com</p>
                    <p><i class="fas fa-map-marker-alt"></i> Адреса: вул. Городоцька 224, Львів</p> -->
                </div>
                <div class="social-media">
                    <a href="#" class="social-icon facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon twitter"><i class="fab fa-x-twitter"></i></a>
                    <a href="https://www.instagram.com/boystoysdetailing" target="_blank" class="social-icon instagram"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

            <div class="map animated-block">
                <h3 class="column-title"><i class="fas fa-map contact-icon"></i>Знайти нас</h3>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5147.301511041669!2d23.951681780042815!3d49.83022890515461!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x855613da59b5005d%3A0xd44573ebc8f738a0!2sBoys%20Toys%20Detailing%20Studio!5e0!3m2!1suk!2sua!4v1735436180683!5m2!1suk!2sua"
                    width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="blur-text">CONTACTS</div>
    </section>
    <div class="triangle-divider-bottom">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M598.97 119.72L0 0 0 120 1200 120 1200 0 598.97 119.72z" class="shape-fill"></path>
        </svg>
    </div>
</div>