<section class="contact-form-section" id="booking-section">
    <h2 class="section-heading">Онлайн запис</h2>
    <div class="form-container">
        <h2>Бажаєте скористатися послугою, чи уточнити деталі?</h2>
        <p>Заповніть форму для зворотнього зв'язку</p>
        <form action="#" method="post" class="contact-form" id="contactForm">
            <input id="name" type="text" name="name" placeholder="Ім'я" required autocomplete="name">
            <input id="phone" type="tel" name="phone" placeholder="Телефон" required autocomplete="phone">
            <button type="submit">Відправити</button>
        </form>
    </div>
</section>
<div class="custom-modal" id="modal">
    <div class="modal-content">
        <span class="close" id="close">&times;</span>
        <h2 id="modal-title"></h2>
        <span id="alert-message"></span>
    </div>
</div>
