
<section class="section banner banner-section segment">
  <div class="container banner-column">
     <div class="banner-inner">
        <h1 class="heading-xl">Найкращий детейлінг салон у Львові</h1>
        <p class="paragraph">
          Догляд за вашим авто — це наша спеціальність. Створюємо ідеальний вигляд для кожного автомобіля!
        </p>
        <a href="#booking-section">
        <button class="btn">
          <span class="circle">
            <i class="bx bx-right-arrow-alt icon"></i>
          </span>
          <span class="button-text">Записатись</span>
        </button>
      </a>
     </div>
  </div>
  <img class="banner-image" src="img/audi.jpg" alt="Audi автомобіль в детейлінг центрі" />
  <img class="banner-image active" src="img/audi-2.jpg" alt="Audi автомобіль в детейлінг центрі"/>
  <div class="triangle-divider-bottom">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M598.97 119.72L0 0 0 120 1200 120 1200 0 598.97 119.72z" class="shape-fill"></path>
    </svg>
</div>
<div id="scrollToTop" class="scroll-to-top">
  <i class="fa-solid fa-angle-up"></i>
</div>
</section>


