<section class="our-story" id="our-story">
    <div class="heading">
        <h2 class="section-heading">Про нас</h2>
    </div>
    <div class="our-story-content">
        <div class="image-gallery">
            <div class="top-row">
                <div class="gallery-item">
                    <img src="img/bmw.jpg" alt="Автомобіль після детейлінгу 1">
                </div>
                <div class="gallery-item">
                    <img src="img/IMG_6547.jpg" alt="Автомобіль після детейлінгу 2">
                </div>
            </div>
            <div class="bottom-row">
                <div class="gallery-item large">
                    <img src="img/IMG_7773.JPG">
                </div>
            </div>
        </div>
        <div class="text-content">
            <h1>Boys Toys - безпрецедентна якість,та найвищі стандарти та технології на ринку</h1>
            <p>
                Ми — це місце для тих, хто вважає своє авто чимось більшим, ніж просто транспорт, для тих, хто цікавиться, любить та живе автокультурою. Ми співпрацюємо зі всіма провідними детейлінг брендами, тому ніколи не шукаємо, де зекономити на матеріалах, якими б несуттєвими вони не були.<br>
                <strong>Gyeon</strong>, <strong>RR Customs</strong>, <strong>Shiny Garage</strong>, <strong>Koch</strong> - це тільки маленька частинка з переліку брендів, з якими ми офіційно співпрацюємо.
                Ми з кожним днем додаємо щось нове в роботі з вашими авто, наприклад, ми перші, хто замінив третій етап мийки з воску на легку кераміку, чим значно покращили якість послуги та кінцевий вигляд вашого авто, і це тільки маленька деталь, про яку ми вам розказали.</p>
            <p><strong>Ми чекаємо на вас!</strong></p>
            <a href="#booking-section">
                <button class="btn about">
                  <span class="circle">
                    <i class="bx bx-right-arrow-alt icon"></i>
                  </span>
                  <span class="button-text">Записатись</span>
                </button>
              </a>
        </div>
    </div>
</section>