<div class="wrapper">
  <div class="triangle-divider-top">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M598.97 119.72L0 0 0 120 1200 120 1200 0 598.97 119.72z" class="shape-fill"></path>
    </svg>
</div>
  <h2 class="price-heading">Наші послуги</h2>
  <section class="price-list" id="price-list">
    <div class="price-list-label left"></div>
    <div class="container-price-list">
      <div class="categories-column">
        <div class="categories" id="categories-list">
        </div>
      </div>
      <div class="services-column" id="services-container">
      </div>
    </div>
    <div class="price-list-label right"></div>
  </section>
  <div class="triangle-divider-bottom">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M598.97 119.72L0 0 0 120 1200 120 1200 0 598.97 119.72z" class="shape-fill"></path>
    </svg>
</div>
</div>